a {
    color: white;
}

.nav-link .nav-link:hover .nav-link:active  .nav-link:default {
    color: white;
}


.navbar {
    background: rgb(48, 46, 46);
}

.navbar .navbar-collapse {
    text-align: center;
}
.navbar-toggler {
    width:100%;
}

