<div class="container rounded pt-5">
    <div class="row">
        <div class="col-12  text-center ">
            <h4>System configuration</h4>
        </div>
    </div>
</div>

<div class="container">
    <div class="container rounded pt-5">
        <div class="row">
            <div class="col-12  text-center ">
                <h4>Users</h4>
            </div>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item text-center">
            User 1 - <button class="btn btn-success">Request history acces</button>
        </li>
        <li class="list-group-item text-center">
            User 2 - <button class="btn btn-success">Request history acces</button>
        </li>
        <li class="list-group-item text-center">
            User 3 - <button class="btn btn-success">Request history acces</button>
        </li>
    </ul>
    <div class="container rounded pt-3">
        <div class="row">
            <div class="col-12  text-center ">
                <h4>Cars</h4>
            </div>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item text-center">
            Car 1 - <button class="btn btn-success">Details</button>
        </li>
        <li class="list-group-item text-center">
            Car 2 - <button class="btn btn-success">Details</button>
        </li>
        <li class="list-group-item text-center">
            Car 3 - <button class="btn btn-success">Details</button>
        </li>

    </ul>

    <div class="container rounded pt-3">
        <div class="row">
            <div class="col-12  text-center ">
                <h4>Facilities</h4>
            </div>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item text-center">
            Facility 1 - <button class="btn btn-success">Details</button>
        </li>
        <li class="list-group-item text-center">
            Facility 2 - <button class="btn btn-success">Details</button>
        </li>
        <li class="list-group-item text-center">
            Facility 3 - <button class="btn btn-success">Details</button>
        </li>

    </ul>
</div>